In [1]:
# To work with PySpark, we need to start the spark session

In [2]:
from pyspark.sql import SparkSession

In [3]:
import pandas as pd

In [27]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [25]:
df_children = spark.createDataFrame(
  data = [("Mikhail", 15), ("Zaky", 13), ("Zoya", 8)],
  schema = ['name', 'age'])
display(df_children)

DataFrame[name: string, age: bigint]

In [28]:
# If you want to explicitly add the datatype then 

df_children_with_schema = spark.createDataFrame(
  data = [("Mikhail", 15), ("Zaky", 13), ("Zoya", 8)],
  schema = StructType([
    StructField('name', StringType(), True),
    StructField('age', IntegerType(), True)
  ])
)
display(df_children_with_schema)

DataFrame[name: string, age: int]

In [4]:
df = pd.read_csv("Books.csv")
df.head()

C:\Users\snandanw\AppData\Local\Temp\ipykernel_23716\2247022381.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
spark = SparkSession.builder.appName("Practise").getOrCreate()
spark

In [6]:
df_pys = spark.read.csv('Books.csv')
df_pys

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string]

##### If we see above, it doesn't take the column names so we need to import in other way

In [8]:
df_pys = spark.read.option('header','true').csv("Books.csv")

In [9]:
df_pys

DataFrame[ISBN: string, Book-Title: string, Book-Author: string, Year-Of-Publication: string, Publisher: string, Image-URL-S: string, Image-URL-M: string, Image-URL-L: string]

In [11]:
df_pys.show(5) # by default it displays top 20 rows

+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
|      ISBN|          Book-Title|         Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|         Image-URL-L|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
|0195153448| Classical Mythology|  Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|http://images.ama...|
|0002005018|        Clara Callan|Richard Bruce Wright|               2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|http://images.ama...|
|0060973129|Decision in Normandy|        Carlo D'Este|               1991|     HarperPerennial|http://images.ama...|http://images.ama...|http://images.ama...|
|0374157065|Flu: The Story of...|    Gina Bari Kolata|               1999|Farrar Straus Giroux|http://images.ama...|http://images.ama...|http://images.ama...|
|0393045218|The Mummies of Ur...|     E. J. W. Barber|               1999|W. W. Norton &amp...|http://images.ama...|http://images.ama...|http://images.ama...|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [12]:
type(df_pys)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pys.head(5)

[Row(ISBN='0195153448', Book-Title='Classical Mythology', Book-Author='Mark P. O. Morford', Year-Of-Publication='2002', Publisher='Oxford University Press', Image-URL-S='http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg', Image-URL-M='http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg', Image-URL-L='http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg'),
 Row(ISBN='0002005018', Book-Title='Clara Callan', Book-Author='Richard Bruce Wright', Year-Of-Publication='2001', Publisher='HarperFlamingo Canada', Image-URL-S='http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg', Image-URL-M='http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg', Image-URL-L='http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg'),
 Row(ISBN='0060973129', Book-Title='Decision in Normandy', Book-Author="Carlo D'Este", Year-Of-Publication='1991', Publisher='HarperPerennial', Image-URL-S='http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg', Image-URL-M='http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg', Image-URL-L='http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg'),
 Row(ISBN='0374157065', Book-Title='Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It', Book-Author='Gina Bari Kolata', Year-Of-Publication='1999', Publisher='Farrar Straus Giroux', Image-URL-S='http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg', Image-URL-M='http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg', Image-URL-L='http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg'),
 Row(ISBN='0393045218', Book-Title='The Mummies of Urumchi', Book-Author='E. J. W. Barber', Year-Of-Publication='1999', Publisher='W. W. Norton &amp; Company', Image-URL-S='http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg', Image-URL-M='http://images.amazon.com/images/P/0393045218.01.MZZZZZZZ.jpg', Image-URL-L='http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg')]

In [15]:
# Check for Schema

df_pys.printSchema()

root
 |-- ISBN: string (nullable = true)
 |-- Book-Title: string (nullable = true)
 |-- Book-Author: string (nullable = true)
 |-- Year-Of-Publication: string (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Image-URL-S: string (nullable = true)
 |-- Image-URL-M: string (nullable = true)
 |-- Image-URL-L: string (nullable = true)

In [16]:
# Easier way to import data is
df_pys = spark.read.csv("Books.csv", header=True, inferSchema=True)
df_pys

DataFrame[ISBN: string, Book-Title: string, Book-Author: string, Year-Of-Publication: string, Publisher: string, Image-URL-S: string, Image-URL-M: string, Image-URL-L: string]

In [17]:
df_pys.show(6)

+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
|      ISBN|          Book-Title|         Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|         Image-URL-L|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
|0195153448| Classical Mythology|  Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|http://images.ama...|
|0002005018|        Clara Callan|Richard Bruce Wright|               2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|http://images.ama...|
|0060973129|Decision in Normandy|        Carlo D'Este|               1991|     HarperPerennial|http://images.ama...|http://images.ama...|http://images.ama...|
|0374157065|Flu: The Story of...|    Gina Bari Kolata|               1999|Farrar Straus Giroux|http://images.ama...|http://images.ama...|http://images.ama...|
|0393045218|The Mummies of Ur...|     E. J. W. Barber|               1999|W. W. Norton &amp...|http://images.ama...|http://images.ama...|http://images.ama...|
|0399135782|The Kitchen God's...|             Amy Tan|               1991|    Putnam Pub Group|http://images.ama...|http://images.ama...|http://images.ama...|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 6 rows

In [18]:
df_pys.columns

['ISBN',
 'Book-Title',
 'Book-Author',
 'Year-Of-Publication',
 'Publisher',
 'Image-URL-S',
 'Image-URL-M',
 'Image-URL-L']

In [19]:
df_pys.head(4)

[Row(ISBN='0195153448', Book-Title='Classical Mythology', Book-Author='Mark P. O. Morford', Year-Of-Publication='2002', Publisher='Oxford University Press', Image-URL-S='http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg', Image-URL-M='http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg', Image-URL-L='http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg'),
 Row(ISBN='0002005018', Book-Title='Clara Callan', Book-Author='Richard Bruce Wright', Year-Of-Publication='2001', Publisher='HarperFlamingo Canada', Image-URL-S='http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg', Image-URL-M='http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg', Image-URL-L='http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg'),
 Row(ISBN='0060973129', Book-Title='Decision in Normandy', Book-Author="Carlo D'Este", Year-Of-Publication='1991', Publisher='HarperPerennial', Image-URL-S='http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg', Image-URL-M='http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg', Image-URL-L='http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg'),
 Row(ISBN='0374157065', Book-Title='Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It', Book-Author='Gina Bari Kolata', Year-Of-Publication='1999', Publisher='Farrar Straus Giroux', Image-URL-S='http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg', Image-URL-M='http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg', Image-URL-L='http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg')]

In [21]:
df_pys.select('Book-Title').show()

+--------------------+
|          Book-Title|
+--------------------+
| Classical Mythology|
|        Clara Callan|
|Decision in Normandy|
|Flu: The Story of...|
|The Mummies of Ur...|
|The Kitchen God's...|
|What If?: The Wor...|
|     PLEADING GUILTY|
|Under the Black F...|
|Where You'll Find...|
|Nights Below Stat...|
|Hitler's Secret B...|
|  The Middle Stories|
|            Jane Doe|
|A Second Chicken ...|
|The Witchfinder (...|
|More Cunning Than...|
|Goodbye to the Bu...|
|       The Testament|
|Beloved (Plume Co...|
+--------------------+
only showing top 20 rows

In [22]:
type(df_pys.select('Book-Title'))

pyspark.sql.dataframe.DataFrame

In [23]:
df_pys.select(['ISBN','Book-Title']).show(5)

+----------+--------------------+
|      ISBN|          Book-Title|
+----------+--------------------+
|0195153448| Classical Mythology|
|0002005018|        Clara Callan|
|0060973129|Decision in Normandy|
|0374157065|Flu: The Story of...|
|0393045218|The Mummies of Ur...|
+----------+--------------------+
only showing top 5 rows

In [24]:
# Describe

df_pys.describe().show()

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|summary|                ISBN|          Book-Title|         Book-Author| Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|         Image-URL-L|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  count|              271360|              271360|              271359|              271360|              271358|              271360|              271360|              271357|
|   mean|1.0412234356977516E9|            Infinity|              2001.0|   1959.754171535147|  3765.6153846153848|             1992.25|              1984.5|             1988.25|
| stddev|1.4877142833957238E9|                 NaN|  1.7320508075688772|  258.01944980678724|  7963.0591536808415|   9.863845829363612|  0.7071067811865476|    7.13559154286923|
|    min|          0000913154| A Light in the S...| 15th Illinois Vo...|                1961| As Taught at the...| 1865. (Collector...|          Bill Stern|       Our Miss b"""|
|    max|          B0002K6K8O|   Ã?Â?thique en toc|      Ã?Â?ric Holder|and the Final Rid...|      Ã?Â¶bv&amp;hpt|http://images.ama...|http://images.ama...|http://images.ama...|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

### Column Operations

In [30]:
from pyspark.sql.functions import col

In [32]:
df_pys.select(df_pys['ISBN'],df_pys['Book-Title']).show(3)

+----------+--------------------+
|      ISBN|          Book-Title|
+----------+--------------------+
|0195153448| Classical Mythology|
|0002005018|        Clara Callan|
|0060973129|Decision in Normandy|
+----------+--------------------+
only showing top 3 rows

In [38]:
# Adding new columns

df_pys = df_pys.withColumn('Old_Books',df_pys['Year-Of-Publication']<1995)
df_pys.show(5)

+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+---------+
|      ISBN|          Book-Title|         Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|         Image-URL-L|Old_Books|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+---------+
|0195153448| Classical Mythology|  Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|http://images.ama...|    false|
|0002005018|        Clara Callan|Richard Bruce Wright|               2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|http://images.ama...|    false|
|0060973129|Decision in Normandy|        Carlo D'Este|               1991|     HarperPerennial|http://images.ama...|http://images.ama...|http://images.ama...|     true|
|0374157065|Flu: The Story of...|    Gina Bari Kolata|               1999|Farrar Straus Giroux|http://images.ama...|http://images.ama...|http://images.ama...|    false|
|0393045218|The Mummies of Ur...|     E. J. W. Barber|               1999|W. W. Norton &amp...|http://images.ama...|http://images.ama...|http://images.ama...|    false|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+---------+
only showing top 5 rows

### Renaming Column

In [35]:
# Renaming Columns

df_pys_renamed = df_pys.withColumnRenamed('Old_Books','Old_Books_Renamed')
df_pys_renamed.show(3)

+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------+
|      ISBN|          Book-Title|         Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|         Image-URL-L|Old_Books_Renamed|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------+
|0195153448| Classical Mythology|  Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|http://images.ama...|            false|
|0002005018|        Clara Callan|Richard Bruce Wright|               2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|http://images.ama...|            false|
|0060973129|Decision in Normandy|        Carlo D'Este|               1991|     HarperPerennial|http://images.ama...|http://images.ama...|http://images.ama...|             true|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------+
only showing top 3 rows

### Droping the column/columns

In [39]:
# droping the column/columns
#df_pys = df_pys.drop('Old_Books')
df_pys.show(3)

# If you want to drop multiple columns then 
df_pys = df_pys.drop('Old_Books','Image-URL-L')
df_pys.show(3)

+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+---------+
|      ISBN|          Book-Title|         Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|         Image-URL-L|Old_Books|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+---------+
|0195153448| Classical Mythology|  Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|http://images.ama...|    false|
|0002005018|        Clara Callan|Richard Bruce Wright|               2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|http://images.ama...|    false|
|0060973129|Decision in Normandy|        Carlo D'Este|               1991|     HarperPerennial|http://images.ama...|http://images.ama...|http://images.ama...|     true|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+---------+
only showing top 3 rows

+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+
|      ISBN|          Book-Title|         Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+
|0195153448| Classical Mythology|  Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|
|0002005018|        Clara Callan|Richard Bruce Wright|               2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|
|0060973129|Decision in Normandy|        Carlo D'Este|               1991|     HarperPerennial|http://images.ama...|http://images.ama...|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+
only showing top 3 rows

## Filter Operations

In [99]:
df_pys.filter('ISBN == 0002005018').show(4)

+----------+------------+--------------------+-------------------+--------------------+--------------------+--------------------+
|      ISBN|  Book-Title|         Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|
+----------+------------+--------------------+-------------------+--------------------+--------------------+--------------------+
|0002005018|Clara Callan|Richard Bruce Wright|               2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|
+----------+------------+--------------------+-------------------+--------------------+--------------------+--------------------+

In [46]:
df_pys.filter(df_pys['Year-Of-Publication'] == 2002).show(4)

+----------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+
|      ISBN|          Book-Title|       Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|
+----------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+
|0195153448| Classical Mythology|Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|
|074322678X|Where You'll Find...|       Ann Beattie|               2002|            Scribner|http://images.ama...|http://images.ama...|
|3404921038|Wie Barney es sieht.|  Mordecai Richler|               2002|            LÃ?Â¼bbe|http://images.ama...|http://images.ama...|
|0449005615|Seabiscuit: An Am...| LAURA HILLENBRAND|               2002|    Ballantine Books|http://images.ama...|http://images.ama...|
+----------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+
only showing top 4 rows

In [101]:
df_pys.filter(~(df_pys['Year-Of-Publication'] == 2002)).select(['ISBN','Book-Title','Book-Author','Year-Of-Publication']).show(4)

+----------+--------------------+--------------------+-------------------+
|      ISBN|          Book-Title|         Book-Author|Year-Of-Publication|
+----------+--------------------+--------------------+-------------------+
|0002005018|        Clara Callan|Richard Bruce Wright|               2001|
|0060973129|Decision in Normandy|        Carlo D'Este|               1991|
|0374157065|Flu: The Story of...|    Gina Bari Kolata|               1999|
|0393045218|The Mummies of Ur...|     E. J. W. Barber|               1999|
+----------+--------------------+--------------------+-------------------+
only showing top 4 rows

In [47]:
df_pys.where(df_pys['Year-Of-Publication'] == 2002).show(4) # this is an alias for function filter

+----------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+
|      ISBN|          Book-Title|       Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|
+----------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+
|0195153448| Classical Mythology|Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|
|074322678X|Where You'll Find...|       Ann Beattie|               2002|            Scribner|http://images.ama...|http://images.ama...|
|3404921038|Wie Barney es sieht.|  Mordecai Richler|               2002|            LÃ?Â¼bbe|http://images.ama...|http://images.ama...|
|0449005615|Seabiscuit: An Am...| LAURA HILLENBRAND|               2002|    Ballantine Books|http://images.ama...|http://images.ama...|
+----------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+
only showing top 4 rows

In [49]:
df_pys.filter((df_pys['Year-Of-Publication'] == 2002) & (df_pys['Book-Author']=='Ann Beattie')).show(4)

+----------+--------------------+-----------+-------------------+--------------------+--------------------+--------------------+
|      ISBN|          Book-Title|Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|
+----------+--------------------+-----------+-------------------+--------------------+--------------------+--------------------+
|074322678X|Where You'll Find...|Ann Beattie|               2002|            Scribner|http://images.ama...|http://images.ama...|
|0743212649|The Doctor's Hous...|Ann Beattie|               2002|            Scribner|http://images.ama...|http://images.ama...|
|1585471992|The Doctor's Hous...|Ann Beattie|               2002|Center Point Publ...|http://images.ama...|http://images.ama...|
+----------+--------------------+-----------+-------------------+--------------------+--------------------+--------------------+

In [50]:
# OR
df_pys.filter((df_pys['Year-Of-Publication'] == 2002) | (df_pys['Book-Author']=='Ann Beattie')).show(6)

+----------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+
|      ISBN|          Book-Title|       Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|
+----------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+
|0195153448| Classical Mythology|Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|
|074322678X|Where You'll Find...|       Ann Beattie|               2002|            Scribner|http://images.ama...|http://images.ama...|
|3404921038|Wie Barney es sieht.|  Mordecai Richler|               2002|            LÃ?Â¼bbe|http://images.ama...|http://images.ama...|
|0449005615|Seabiscuit: An Am...| LAURA HILLENBRAND|               2002|    Ballantine Books|http://images.ama...|http://images.ama...|
|0425182908|        Isle of Dogs| Patricia Cornwell|               2002|Berkley Publishin...|http://images.ama...|http://images.ama...|
|042518630X|     Purity in Death|         J.D. Robb|               2002|Berkley Publishin...|http://images.ama...|http://images.ama...|
+----------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+
only showing top 6 rows

## Remove duplicate rows

In [52]:
df_pys.distinct().count()

271360

In [53]:
df_pys.count()

271360

In [55]:
df_pys.select('Year-Of-Publication').count(), df_pys.select('Year-Of-Publication').distinct().count()

(271360, 169)

### Handle null values

In [62]:
df_pys.na.drop(how = "any").distinct().count() # If "any" option selected then it drops row if it finds any null value in any column of that row

271357

In [63]:
df_pys.na.drop(how = "all").distinct().count() # If "all" option selected then it drops row only if it finds all null value in all column of that row

271360

In [72]:
# we can also use thresold
df_pys.na.drop(how = "any", thresh= 2).distinct().count() # thresold number says atlst 2 non null column should should be present so not to delete. Anything less than that would get deleted

271360

In [73]:
df_pys.na.drop("any", subset=['Book-Author']).count() # this removes row for the null values in the particular given column/ or set of columns

271359

In [74]:
df_pys.na.fill("Missing_Value") # This impute string "MIssing_Value" whereever it finds null in dataframe
# to fill/impute missing values in particular column we can sepecify name
df_pys.na.fill("Missing_Value",'Book-Author')

DataFrame[ISBN: string, Book-Title: string, Book-Author: string, Year-Of-Publication: string, Publisher: string, Image-URL-S: string, Image-URL-M: string]

In [83]:
df1 = spark.read.csv("Exp_data.csv",header=True, inferSchema=True)
df1.show()

+-------+----+----+------+
|   Name| Age|Work|Salary|
+-------+----+----+------+
|Swapnil|  34|  IT|200000|
|  Vinit|  30|  IT|150000|
|Vikrant|  35|  IT|300000|
|  Kundu|  32|  IT|250000|
|   John|  25|Mech| 10000|
|    Das|NULL|NULL| 25252|
|  Jyoti|  50|NULL|  NULL|
|   ABAB|NULL|NULL|  NULL|
+-------+----+----+------+

In [92]:
df1.na.fill("missing value",['Age','Salary']).show() # this won't allow imputing non-integer values to a column which is an integer

+-------+----+----+------+
|   Name| Age|Work|Salary|
+-------+----+----+------+
|Swapnil|  34|  IT|200000|
|  Vinit|  30|  IT|150000|
|Vikrant|  35|  IT|300000|
|  Kundu|  32|  IT|250000|
|   John|  25|Mech| 10000|
|    Das|NULL|NULL| 25252|
|  Jyoti|  50|NULL|  NULL|
|   ABAB|NULL|NULL|  NULL|
+-------+----+----+------+

In [87]:
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Work: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [90]:
df1.na.fill(00,['Age','Salary']).show()

+-------+---+----+------+
|   Name|Age|Work|Salary|
+-------+---+----+------+
|Swapnil| 34|  IT|200000|
|  Vinit| 30|  IT|150000|
|Vikrant| 35|  IT|300000|
|  Kundu| 32|  IT|250000|
|   John| 25|Mech| 10000|
|    Das|  0|NULL| 25252|
|  Jyoti| 50|NULL|     0|
|   ABAB|  0|NULL|     0|
+-------+---+----+------+

In [91]:
# Imputing values diffrently
from pyspark.ml.feature import Imputer

In [96]:
imputer = Imputer(inputCols=['Age','Salary'], outputCols=['Age_new','Salary_new'],strategy = "median" )

In [97]:
imputer.fit(df1).transform(df1).show()

+-------+----+----+------+-------+----------+
|   Name| Age|Work|Salary|Age_new|Salary_new|
+-------+----+----+------+-------+----------+
|Swapnil|  34|  IT|200000|     34|    200000|
|  Vinit|  30|  IT|150000|     30|    150000|
|Vikrant|  35|  IT|300000|     35|    300000|
|  Kundu|  32|  IT|250000|     32|    250000|
|   John|  25|Mech| 10000|     25|     10000|
|    Das|NULL|NULL| 25252|     32|     25252|
|  Jyoti|  50|NULL|  NULL|     50|    150000|
|   ABAB|NULL|NULL|  NULL|     32|    150000|
+-------+----+----+------+-------+----------+

In [102]:
# lets impute in same column
imputer1 = Imputer(inputCols=['Age','Salary'], outputCols=['Age','Salary'],strategy = "median" )
imputer1.fit(df1).transform(df1).show()

+-------+---+----+------+
|   Name|Age|Work|Salary|
+-------+---+----+------+
|Swapnil| 34|  IT|200000|
|  Vinit| 30|  IT|150000|
|Vikrant| 35|  IT|300000|
|  Kundu| 32|  IT|250000|
|   John| 25|Mech| 10000|
|    Das| 32|NULL| 25252|
|  Jyoti| 50|NULL|150000|
|   ABAB| 32|NULL|150000|
+-------+---+----+------+

In [103]:
df1.show()

+-------+----+----+------+
|   Name| Age|Work|Salary|
+-------+----+----+------+
|Swapnil|  34|  IT|200000|
|  Vinit|  30|  IT|150000|
|Vikrant|  35|  IT|300000|
|  Kundu|  32|  IT|250000|
|   John|  25|Mech| 10000|
|    Das|NULL|NULL| 25252|
|  Jyoti|  50|NULL|  NULL|
|   ABAB|NULL|NULL|  NULL|
+-------+----+----+------+

# Grouping & Agreegation

In [104]:
df2 = spark.read.csv("Exp_data_agg.csv", header=True, inferSchema=True)
df2.show()

+-------+---+----+------+
|   Name|Age|Work|Salary|
+-------+---+----+------+
|Swapnil| 34|  IT|200000|
|  Vinit| 30|  IT|150000|
|Vikrant| 35|  IT|300000|
|Swapnil| 34|  DS|250000|
|Swapnil| 34|  ML|300000|
|  Vinit| 30|  PS|200000|
|  Kundu| 32|  IT|250000|
|   John| 25|Mech| 10000|
|  Kundu| 32|  DD|252525|
|    Das| 41|Call| 25252|
|  Jyoti| 50|Bank|505050|
+-------+---+----+------+

In [111]:
df2.groupby("Work").mean().show()

+----+--------+-----------+
|Work|avg(Age)|avg(Salary)|
+----+--------+-----------+
|Bank|    50.0|   505050.0|
|  PS|    30.0|   200000.0|
|Call|    41.0|    25252.0|
|  DD|    32.0|   252525.0|
|  IT|   32.75|   225000.0|
|Mech|    25.0|    10000.0|
|  DS|    34.0|   250000.0|
|  ML|    34.0|   300000.0|
+----+--------+-----------+

In [112]:
df2.groupby("Work").count().show()

+----+-----+
|Work|count|
+----+-----+
|Bank|    1|
|  PS|    1|
|Call|    1|
|  DD|    1|
|  IT|    4|
|Mech|    1|
|  DS|    1|
|  ML|    1|
+----+-----+

In [115]:
df2.agg({'Salary': 'sum','Salary': 'median','Salary': 'max','Salary': 'min','Age':'mean', 'Age':'max'}).show() # We cannot show different aggregartion on same column at once

+-----------+--------+
|min(Salary)|max(Age)|
+-----------+--------+
|      10000|      50|
+-----------+--------+